.breadcrumb{
    padding:16px 24px;
    position:absolute;
    right: 20px;
    bottom:0px;
    text-align: center;
    &__gold{
        color: #BEAD8E;
    }
}
@media screen and (min-width:1000px){
    .breadcrumb{
        right:0;
        bottom:0px;
        max-width: 223px;
    }
}