.core-article{
    
    margin-bottom:60px;
    .medium-title{
        margin-bottom:28px;
    }
    &__img{
        width: 70px;
        height: 70px;
        margin-bottom: 38px;
    }
    &__container{
        text-align: left;
        position: relative;
        min-height: 21.875rem;
        padding: 73px 35px 51px 35px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #292929;
    }
    &__container--light{
        background-color: $fifth-color;
    }
    &__container::before{
        content: url('../../assets/icons/01-dark.svg');
        position: absolute;
        top:20px;
        right: 32px;
    }
    &__container--light::before{
        content: url('../../assets/icons/01.svg');
    }
}
@media screen and (min-width:1000px)
{
    .core-article{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding:0px 17vw;
        &__row{
            display: flex;
            justify-content: space-around;
            gap:clamp(2px, 1vw, 30px);
        }
        &__container{
            min-width: clamp(320px, 32vw, 370px);
            height: 349px;
        }
    }
}