.food-article{
    @include general-section(115px,0px);
    padding-top: 115px;
    text-align: left;
    position: relative;
    overflow: clip;
    .menu-img{
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
    }
    h6{
        margin-bottom:32px;
    }
    .title--24{
        text-align: left;
    }
    &__food-container{
        display: flex;
        gap:29px;
        justify-content: flex-end;
          
    }
    &__menu-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__donut{
        width: 114px;
        height: 114px;
        position: absolute;
        top:0;
        right:-20;
        z-index: -1;
    }
}

@media screen and (min-width:1000px)
{
    .food-article{
        //padding:200px 17vw 0px 17vw;
        padding-top:200px;
        position: relative;
        &__donut{
            width: 229px;
            height: 229px;
            position: absolute;
            top:0;
            left: clamp(10px, 4.16vw, 80px);
        }
        &__container{
            margin:auto;
            max-width: 1170px;
        }
        &__img-container{
            display: flex;
            gap:30px;
            img{
                width: 370px;
                height: 370px;
                object-fit: cover;
            }
        }
        &__menu-container{
            display: flex;
            flex-direction: row;
            gap:clamp(20px, calc((2vw) * 2), 165px);
        }
        &__col{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-around;
        }
    }
    
}