.footer{
    background-image: url('../../assets/icons/footer-background.svg');
    &__box{
        padding:32px 20px 16px 20px;
        
    }
    &__logo{
        margin:auto;
        display: inline-block;
    }
    &__subcontainer--1{
        margin-bottom:47px;
        display: flex;
        align-items: center;
        span{
            font-size: 2.225rem;
            padding:18px 24px;
            color:#ffffff;
            background-color: $third-color;
            font-weight: 900;
            width: 5rem;
            height: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        img{
            width: 157px;
            margin-left: 28px;
            padding:8px;
            background-color: rgba(248, 248, 248, 1);
            background-color: transparent;
        }   
    }
    &__description{
        color:$grey-color;
        margin-bottom:32px;
    }
    &__social-icons-container{
        display: flex;
        gap:10px;
        margin-bottom: 24px;
    }
    &__social-icon{        
        width:1.5rem;
        height:1.5rem;
        padding:8px;
        box-sizing: content-box;
        background-color: #F8F8F8;
    }
    &__social-icon--dark{
        background-color: $third-color;
    }
    &__title{
       font-size: clamp(20px, 6.675vw, 24px);
       margin-bottom:24px;
    }
    &__subtitle{
        font-size: clamp(20px, 5.675vw, 24px);
     }
    &__columns-container{
        margin-top:24px;
        margin-bottom: 32px;
        display: flex;
        gap:20px;
    }
    &__column{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding:10px 0px;
    }
    &__contact-columns{
        display: flex;
        flex-direction: column;
        gap:59px;
        margin-top: 34px;
        padding-bottom:30px;
    }
    &__contact-container{
        display: flex;
        align-items: center;
        gap:21px;
    }
    &__icon{
        font-size:2.5rem;
    }
    &__contact-column{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    &__copyright-container{
        padding:16px 0px 16px 20px;
        color:#ffffff;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (min-width:1000px)
{ 
    .footer{
        margin-top:120px;
        padding: 100px 0px 0px 0px;
        &__columns-container{
            
            gap:103px;
        }
        &__description{
            margin-bottom:22px;
        }
        &__copyright-container{
            padding:29px 10px 31px 10px;
            gap: 16px;
        }
        &__copyright-subcontainer{
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 1170px;
            margin: auto;
            justify-content: space-between;
        }
        &__box{
            padding:0px 10px;
            display: flex;
            flex-direction: row;
            max-width: 1170px;
            margin: auto;
            
        }
        &__container:nth-of-type(1){
            flex-basis:14.0625%;
            margin-right:80px;
        }
        &__container:nth-of-type(2){
            flex-basis:30.36%;
            margin-right:130px;
        }
    }
}