.form{
    margin:48px 0px;
    padding: 0px 20px;
    input{
        min-height: 60px;
        display: block;
        width: 100%;
        margin-top:13px;
        margin-bottom:19px;
    }
    button{
        width: 100%;
    }
    .title--18{
        margin-bottom:35px;
    }
    &--2{
        text-align: center;
        input{
            padding:25px 21px 23px 21px;
            background-color: #F8F8F8;
            color:#777777;
            margin:0px;
            margin-bottom:17px;
            border-radius: 10px;
            border:1px solid #777777;
        }
        ::placeholder{
            color:#777777;
        }
        textarea{
            min-height: 175px;
            width: 100%;
            padding: 25px 25px 0px 20px;
            margin-bottom: 36px;
            border-radius: 10px;
            border:1px solid $third-color;
        }
        button{
            max-width: 258px;
            width: 100%;
        }
    }
}