@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Space+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Zen+Dots&display=swap');
@font-face {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Zen Dots', cursive;
  font-family: "Space Mono", monospace;
}
$primary-font-family: 'Zen Dots', cursive;
$primary-color: #003566;
$secondary-color: #3f7fba;
$third-color: #001329;
$fourth-color: #ebebeb;
$fifth-color: #f5f5f5;
$grey-color: #3c3d3d;




//////mixins

@mixin general-title {
  //letter-spacing: -1.2px;
  font-weight: 600;
}
@mixin general-section(
  $padding-top: 20px,
  $padding-bottom: 76px,
  $padding-right: 20px,
  $padding-left: 20px
) {
  
  padding: $padding-top $padding-right $padding-bottom $padding-left;
}
@mixin flex($direction:row, $gap:0){
  display: flex;
  flex-direction: $direction;
  gap:$gap;
}
