.header-section{
    @include general-section(75px, 76px);
    color:#ffffff;
    position: relative;
    h1{
        @include general-title;
        font-size: clamp(45px, 3.125rem, 80px);
        line-height: 60px;
        animation: title-right 2s ease 0s 1 normal backwards;
    }
    .btn:nth-of-type(1){
        margin-bottom: 24px;   
    }
}
@media (min-width: 1000px) {
    .header-section{
        padding:158px 0px 0px 0px;
        &--1{
            padding-top: 178px;
            padding-bottom: 123px;
        }
        &__container{
            max-width: 1170px;
            width: 90%;
            margin: auto;
            min-height: 195px;
            position: relative;
        }
        .btn:nth-of-type(1){
            margin-right: 30px;   
        }
    }
  }