.inactive {
  display: none;
}
.active {
  display: block;
}
.header {
  animation: nav 1s ease 0s 1 normal backwards;
  position: sticky;
  z-index: 999;
  top:0;
  left:0;
  width: 100%;
  min-height: 70px;
  display: block;
  background-color: $fifth-color;
  &__li{
    display: flex;
    align-items: center;
  }
  &__icon--1, #close-menu {
    width: 20px;
    height: 13px;
    margin-right: 2rem;
  }
  &__ul--1 {
    height: 70px;
    box-shadow: 0px 1px 10px $primary-color;
    padding: 17px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__ul--2 {
    display: none;
    flex-direction: column;
    gap: 23.75px;
    padding: 32px 0px 26px 21px;
  }
  &__icon--2{
    margin-right: 28px;
  }
  &__icon--2,
  &__icon--3 {
    width: 24px;
    height: 24px;
  }
  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__h{
    //height: 12.35px;
    padding: 10px;
    filter: drop-shadow(0 0 0.4rem $third-color);
    background-color: white;
    margin-right: 13.52px;
  }
  &__logo{
    height: 27.77px;
  }
}
