.room-services-list{
    display: flex;
    gap:34px;
    font-size: clamp(0.67rem, 3.35vw, 0.83rem);
    &__column{
        display: flex;
        flex-direction: column;
        gap:17px;
    }
    &__row{
        display: flex;
        gap:8px;
    }
}
@media screen and (min-width:1000px){
    .room-services-list{
        max-width: 770px;
    }
}