.swiper {
  //overflow-y: auto!important;
  //max-width: 600px;
  //height: auto;
  //position: relative;
  //height: fit-content;
  display: flex;
  flex-direction: column;
 
  &-pagination-bullet-active{
    background-color: #BEAD8E!important;
  }
  &-slide {
    //height: clamp(244px, 76.25vw, 500px);
  }
  &--room {
    img{
        max-height: 244px;
        max-width: 600px;
    }
    .swiper-button-next, .swiper-button-prev{
      top:30%;
    }
  }
  &--food {
    margin-top: 60px;
    padding-bottom:10px!important;
    .swiper-pagination{
      position: relative!important;
      top:10px;
    }
    img{
      height: clamp(220px, 68.75vw, 300px);
      max-width: 600px;
      width: 100%;
      object-fit: cover;
      margin:auto;
    }
  }
  &--food-menu {
    margin-top: 60px;
    .swiper-wrapper{
      //padding-bottom: 90px!important;
    }
    .swiper-btn-container{
      position: relative;
      margin-top:30px;
      display: flex;
      gap:46px;
      justify-content: flex-end;
      width: 100%;
    }
    .swiper-button-next, .swiper-button-prev{
      position: relative;
    }
    .swiper-button-next::after, .swiper-button-prev::after{
      content:'';
    }
    button{
      padding:13px 15px;
      border:none;
    }
    button:hover{
      background-color: #BEAD8E;
      color: #FFF;
    }
    &--desktop{
      display: none!important;
    }
  }
  
  &--rooms{
    display: flex;
    flex-direction: column;
    .swiper-button-next, .swiper-button-prev{
      top:28%!important;
    }
    .swiper-button-next::after, .swiper-button-prev::after{
      padding:5px 15px;
      background:#FFF;
    }
    &-desktop{
      display: none;
    }
  }

}
.swiper-pagination-bullets {
  
}
.swiper-pagination-bullet {
  width: 20px!important;
  height: 20px!important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

@media screen and (min-width:1000px){
  .swiper--food, .swiper--food-menu, .swiper--rooms, .swiper--rooms2{
    display: none!important;
  }
  .swiper--room {
    .swiper-slide{
      width: 40%;
      .room-section__icon-list, .room-section__container{
        display: none;
      }
    }
    .swiper-slide-active{
      .room-section__icon-list, .room-section__container{
        display: flex;
      }
      .room-section__container{
        //flex-direction: column;
      }
    }
    .room-section__img{
        max-height: 500px;
        max-width: 770px;
        height: clamp(260px, 26vw, 500px);
    }
  }
  .swiper--rooms-desktop{
    display: flex;
    flex-direction: row;
    gap:30px;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    .swiper-slide{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row!important;
      gap:30px;
      justify-content: center;
    }
  }
  .swiper--food-menu--desktop{
    display: block!important;
    max-height: 400px;
    margin-bottom:120px;
  }
}


