@import "globals";
@import "./pages/home";

@import 'header';
@import './resets/normalize';
body{
    min-height: 320px;
    font-family:$primary-font-family;
}
h1,h2,h3,h4,h5,h6{
    margin:0px;
    font-family: 'Orbitron';
}
img{
    display: block;
}