@import '../resets/normalize';
@import "globals";
@import './header';
@import "./header-section";
@import "./section";
@import "./btn";
@import "./core-article";
@import "./food-article";
@import "./titles";
@import "./room-section";
@import "./core-menu-section";
@import "./hotel-features-section";
@import "./target-container";
@import "./form";
@import "./room-services-list";
@import "./founder-card";
@import "./section-offers";
@import "./breadcrumb";
@import "./contact-data-section";
@import './footer';
@import './swiper';
html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 320px;
    font-family:$primary-font-family;
    font-size: 0.75rem;
	line-height: 22px;
	background-image: linear-gradient(
		125deg,
		hsl(0deg 0% 100%) 0%,
		hsl(0deg 0% 100%) 13%,
		hsl(0deg 0% 99%) 18%,
		hsl(0deg 0% 99%) 23%,
		hsl(0deg 0% 98%) 27%,
		hsl(0deg 0% 98%) 30%,
		hsl(0deg 0% 97%) 33%,
		hsl(0deg 0% 97%) 37%,
		hsl(0deg 0% 96%) 40%,
		hsl(0deg 0% 96%) 43%,
		hsl(0deg 0% 96%) 46%,
		hsl(0deg 0% 96%) 49%,
		hsl(0deg 0% 96%) 51%,
		hsl(0deg 0% 96%) 54%,
		hsl(0deg 0% 96%) 57%,
		hsl(0deg 0% 96%) 60%,
		hsl(0deg 0% 97%) 63%,
		hsl(0deg 0% 97%) 67%,
		hsl(0deg 0% 98%) 70%,
		hsl(0deg 0% 98%) 73%,
		hsl(0deg 0% 99%) 77%,
		hsl(0deg 0% 99%) 82%,
		hsl(0deg 0% 100%) 87%,
		hsl(0deg 0% 100%) 100%
	  );
}
iframe{
    max-height: 186px;
    margin-top:24px;
	margin-bottom:36px;
}
.orbitron{
	font-family: 'Orbitron';
}
.span-3rem{
	font-size: 3rem;
	margin-bottom: 10px;
}
h1,h2,h3,h4,h5,h6{
    //margin:20px 0px;
    font-family: 'Orbitron';
}
h1{
	font-weight: 900;
}
h2{
	font-weight: 800;
}
h3{
	font-weight: 700;
}
h4{
	font-weight: 600;
}
h5{
	font-weight: 500;
}
h6{
	font-weight: 400;
}
img{
    display: block;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.bg-dark{
	background-image: linear-gradient(
  135deg,
  hsl(0deg 0% 6%) 0%,
  hsl(0deg 0% 10%) 10%,
  hsl(0deg 0% 12%) 20%,
  hsl(0deg 0% 14%) 30%,
  hsl(0deg 0% 16%) 40%,
  hsl(0deg 0% 18%) 50%,
  hsl(0deg 0% 16%) 60%,
  hsl(0deg 1% 14%) 70%,
  hsl(0deg 3% 12%) 80%,
  hsl(0deg 5% 10%) 90%,
  hsl(0deg 15% 6%) 100%
);
	color:#ffffff;
	&--2{
background-image: linear-gradient(
  230deg,
  hsl(0deg 0% 0%) 0%,
  hsl(0deg 0% 5%) 10%,
  hsl(0deg 0% 7%) 20%,
  hsl(0deg 0% 9%) 30%,
  hsl(0deg 0% 10%) 40%,
  hsl(0deg 0% 11%) 50%,
  hsl(0deg 4% 12%) 60%,
  hsl(0deg 7% 13%) 70%,
  hsl(0deg 10% 13%) 80%,
  hsl(0deg 12% 14%) 90%,
  hsl(0deg 14% 15%) 100%
);
	}
}
.bg-light{
	background-image: linear-gradient(
  125deg,
  hsl(0deg 0% 100%) 0%,
  hsl(0deg 0% 100%) 13%,
  hsl(0deg 0% 99%) 18%,
  hsl(0deg 0% 99%) 23%,
  hsl(0deg 0% 98%) 27%,
  hsl(0deg 0% 98%) 30%,
  hsl(0deg 0% 97%) 33%,
  hsl(0deg 0% 97%) 37%,
  hsl(0deg 0% 96%) 40%,
  hsl(0deg 0% 96%) 43%,
  hsl(0deg 0% 96%) 46%,
  hsl(0deg 0% 96%) 49%,
  hsl(0deg 0% 96%) 51%,
  hsl(0deg 0% 96%) 54%,
  hsl(0deg 0% 96%) 57%,
  hsl(0deg 0% 96%) 60%,
  hsl(0deg 0% 97%) 63%,
  hsl(0deg 0% 97%) 67%,
  hsl(0deg 0% 98%) 70%,
  hsl(0deg 0% 98%) 73%,
  hsl(0deg 0% 99%) 77%,
  hsl(0deg 0% 99%) 82%,
  hsl(0deg 0% 100%) 87%,
  hsl(0deg 0% 100%) 100%
);
	color:$third-color;
}
.bg--golden{
	background-image: linear-gradient(
  135deg,
  hsl(39deg 27% 65%) 0%,
  hsl(38deg 25% 72%) 4%,
  hsl(38deg 24% 78%) 8%,
  hsl(37deg 23% 84%) 12%,
  hsl(37deg 22% 90%) 16%,
  hsl(37deg 22% 95%) 20%,
  hsl(0deg 0% 100%) 24%,
  hsl(0deg 0% 100%) 28%,
  hsl(0deg 0% 100%) 32%,
  hsl(0deg 0% 100%) 36%,
  hsl(0deg 0% 100%) 39%,
  hsl(0deg 0% 100%) 43%,
  hsl(0deg 0% 100%) 48%,
  hsl(0deg 0% 100%) 53%,
  hsl(0deg 0% 100%) 58%,
  hsl(0deg 0% 100%) 62%,
  hsl(0deg 0% 100%) 66%,
  hsl(0deg 0% 100%) 71%,
  hsl(0deg 0% 100%) 75%,
  hsl(37deg 22% 95%) 79%,
  hsl(37deg 22% 90%) 83%,
  hsl(37deg 23% 84%) 87%,
  hsl(38deg 24% 78%) 92%,
  hsl(38deg 25% 72%) 96%,
  hsl(39deg 27% 65%) 100%
);




	color:#000000;
}
.room-details-img{
	width: 100%;
	max-height: 214px;
	margin-top:16px;
}
.desktop-image-container{
	display: none;
}

//
@keyframes nav {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
@keyframes title-right {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}
@media screen and (min-width:1000px){
	.btn--mobile{
		display: none;
		.btn--desktop{
			display: block;
		}
	}
	.desktop-image-container{
        display: flex;
		max-width: 1170px;
		margin:auto;
		gap:30px;
		&--fun-facts{
			margin-top:60px;
			img{
				width: 48.5%;
				height: 400px;
				object-fit: cover;
			}
		}
		&--popular-rooms{
		}
    }
	
}